<html>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156358010-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156358010-1');
</script>

    <title>{{ title }}</title>
</head>

<body style="font-family:Calibri;">
    <h4>{{ header }}</h4>
    <p>{{ description }}</p>
    <a href="/">home</a>
    <a href="/{{ title.lower() }}/new">new</a>
    <a href="/{{ title.lower() }}/download">download</a>
    <a href="/{{ title.lower() }}/import">import</a>
    <a href="/{{ title.lower() }}/export">export</a>
    <ul>
        {% for item in items %}
            <li><a href="/{{ title.lower() }}/{{ item[0] }}">{{ item[0] }}</a>
                <a href="/{{ title.lower() }}/{{ item[0] }}/delete">delete</a>
                <a href="/{{ title.lower() }}/{{ item[0] }}/edit">edit</a>
            </li>
        {% endfor %}
        {% block content%}{% endblock %}
    </ul>
</body>

</html>
